In [63]:
import pyodbc as odbc
import pandas as pd
import math
import numpy as np

df = pd.read_csv("../../dataVault/Dec_20/df_test1.csv") 

top_three_rows = df.head(120)

df = top_three_rows.replace(np.nan, None, regex=True)

print(df)

TypeError: Invalid "to_replace" type: 'float'

In [62]:
import pyodbc as odbc
import pandas as pd
import math
import numpy as np

df = pd.read_csv("../../dataVault/Dec_20/df_test1.csv") 

top_three_rows = df.head(120)

# df = top_three_rows.replace(np.nan, None, regex=True)

print(top_three_rows)

           Date                                      Customer Name  \
0    22/12/2020                                 Compounded Pty Ltd
1    22/12/2020                          Lonergan Research Pty Ltd
2    22/12/2020                                        MLH Pty Ltd
3    22/12/2020                                        Sign Up Now
4    22/12/2020                                          Suby Tech
..          ...                                                ...
115  22/12/2020                                         Sydneywide
116  22/12/2020                                Royal Pacific Hotel
117  22/12/2020  SSCQ (2000) Pty Ltd - Sir Stamford at Circular...
118  22/12/2020                            Vibe Hotel North Sydney
119  22/12/2020                       Timeless Commercial Cleaning

                  Address 1          City State  PostCode  Qty Scheduled  \
0    Unit25/56 O'Riordan St    Alexandria   NSW    2015.0              1
1           263 Clarence St        Sydney   NSW    2000.0              1
2           54 MacArthur St    Parramatta   NSW    2150.0              1
3        3/3 Kelso Crescent     Moorebank   NSW    2170.0              1
4             30 Antoine St     Rydalmere   NSW    2116.0              1
..                      ...           ...   ...       ...            ...
115     118 Pacific Highway   St Leonards   NSW    2065.0              1
116     472 Pacific Highway     Lane Cove   NSW    2066.0              1
117         93 Macquarie St        Sydney   NSW    2000.0              1
118           100 Miller St  North Sydney   NSW       NaN              1
119         228 Pitt Street        Sydney   NSW    2000.0              1

     Qty Serviced Serv Type  Bin Volume Status Truck number Route number  \
0               2       COL        0.66      C       XN65IJ        RL6-2
1               1       FUT        0.24      F       XN97FC        RLC-2
2               1        DE        0.66      C       CV50EC        BIN-2
3               1       COL        1.50      C       CM97HV        FLG-2
4               1       FUT        0.66      F       XN23KQ        RL2-2
..            ...       ...         ...    ...          ...          ...
115             1       COL        0.24      C       XN97FC        RLC-2
116             1       COL        0.66      C       XN97FC        RLC-2
117             1       COL        0.66      C       CG06UT        RED-2
118             1       COL        0.66      C       AF06YN        RL8-2
119             3       COL        0.24      C       CG94KY        RLR-2

          Waste Type   Price
0          Cardboard   11.00
1           Comingle   11.00
2      General Waste    0.00
3      General Waste  108.46
4      General Waste   13.20
..               ...     ...
115         Comingle    0.00
116         Comingle   16.20
117  Paper/Cardboard   11.53
118  Paper/Cardboard    2.75
119  Paper/Cardboard   17.29

[120 rows x 15 columns]

In [55]:
import pyodbc as odbc
import pandas as pd
import math
import numpy as np

df = pd.read_csv("../../dataVault/Dec_20/df_test1.csv") 

top_three_rows = df.head(300)

col_values = top_three_rows.columns.values
df = top_three_rows.replace(np.nan, None, regex=True)


print(df)

connStr = odbc.connect('DRIVER={ODBC Driver 11 for SQL Server};\
                        SERVER=SW-SRV1\ATSSQLEXPRESS;DATABASE=test_db;\
                        Trusted_Connection=yes')

cursor = connStr.cursor()

insert_query = ('INSERT INTO Finance.test_db_1('
        '[date],'
        '[Customer_Name],'
        '[Address],'
        '[City],'
        '[State],'
        '[PostCode],'
        '[Qty_Scheduled],'
        '[Qty_Serviced],'
        '[Serv_Type],'
        '[Bin_Volume],'
        '[Status],'
        '[Truck_number],'
        '[Route_number],'
        '[Waste_Type],'
        '[Price])'
        'values (CONVERT(DATETIME,?,103),?,?,?,?,?,?,?,?,?,?,?,?,?,?);')


row_count_query = "SELECT count(*) FROM Finance.test_db_1;"

def is_postCode_empty(postCode : int):
    if(postCode):
        print(postCode)
    else:
        return postCode

for index,row in df.iterrows():
    try:
            cursor.execute(insert_query, row['Date'],
            row['Customer Name'],
            row['Address 1'],
            row['City'],
            row['State'],
#             is_postCode_empty(row['PostCode']),
            row['PostCode'],
            row['Qty Scheduled'],
            row['Qty Serviced'],
            row['Serv Type'],
            row['Bin Volume'],
            row['Status'],
            row['Truck number'],
            row['Route number'],
            row['Waste Type'],
            row['Price'])
    
    except:
        print(row['PostCode'])
    connStr.commit()
        
total_rows  = pd.read_sql(row_count_query, connStr)

cursor.close()
connStr.close()

print(total_rows)

           Date                   Customer Name               Address 1  \
0    22/12/2020              Compounded Pty Ltd  Unit25/56 O'Riordan St
1    22/12/2020       Lonergan Research Pty Ltd         263 Clarence St
2    22/12/2020                     MLH Pty Ltd         54 MacArthur St
3    22/12/2020                     Sign Up Now      3/3 Kelso Crescent
4    22/12/2020                       Suby Tech           30 Antoine St
..          ...                             ...                     ...
295  22/12/2020            GJ's Kitchen Pty Ltd   12/136-140 Magowar Rd
296  22/12/2020  IFM Solutions - Carriage Works           245 Wilson St
297  22/12/2020    Deni International Foods P/L   19A Greenfield Street
298  22/12/2020           St Peters Fruit World  17-19 Unwins Bridge Rd
299  22/12/2020        New Directions Australia      47 Carrington Road

             City State  PostCode  Qty Scheduled  Qty Serviced Serv Type  \
0      Alexandria   NSW    2015.0              1             2       COL
1          Sydney   NSW    2000.0              1             1       FUT
2      Parramatta   NSW    2150.0              1             1        DE
3       Moorebank   NSW    2170.0              1             1       COL
4       Rydalmere   NSW    2116.0              1             1       FUT
..            ...   ...       ...            ...           ...       ...
295     Girraween   NSW    2145.0              1             1       COL
296      Eveleigh   NSW    2015.0              5             5       COL
297   Banksmeadow   NSW    2019.0              1             1       FUT
298  Saint Peters   NSW    2044.0              1             1       COL
299  Marrickville   NSW    2204.0              1             1       COL

     Bin Volume Status Truck number Route number     Waste Type   Price
0          0.66      C       XN65IJ        RL6-2      Cardboard   11.00
1          0.24      F       XN97FC        RLC-2       Comingle   11.00
2          0.66      C       CV50EC        BIN-2  General Waste    0.00
3          1.50      C       CM97HV        FLG-2  General Waste  108.46
4          0.66      F       XN23KQ        RL2-2  General Waste   13.20
..          ...    ...          ...          ...            ...     ...
295        4.50      C       BY48EG        FL2-2      Dry Waste  308.44
296        3.00      C       BY48EG        FL2-2  General Waste  650.65
297        1.50      F       BY48EG        FL2-2  General Waste   32.34
298        3.00      C       BY48EG        FL2-2  General Waste  180.76
299        4.50      C       BY48EG        FL2-2  General Waste  291.03

[300 rows x 15 columns]

0  300