In [2]:
import pandas as pd
import numpy as np

In [3]:
booking_path = "../../../../test_set/1week.csv"
tipping_path = "../../../../test_set/1weekTipping.csv"

In [4]:
booking_df = pd.read_csv(booking_path,dtype={"Schd Time Start": str, "PO": str})
tipping_df = pd.read_csv(tipping_path)

In [23]:
booking_df.info()
# booking_df['Route number'] = booking_df['Route number'].astype('str')
# booking_df[['Route number', 'weekday']] = booking_df['Route number'].str.split('-', 1, expand=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10158 entries, 0 to 10157
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Job No                   10158 non-null  float64
 1   Date                     10158 non-null  object
 2   Schd Time Start          547 non-null    object
 3   Schd Time End            9517 non-null   object
 4   Latitude                 10158 non-null  float64
 5   Longitude                10158 non-null  float64
 6   Customer number          10158 non-null  float64
 7   Customer Name            10158 non-null  object
 8   Site Name                2460 non-null   object
 9   Address 1                10158 non-null  object
 10  Address 2                8 non-null      object
 11  City                     10158 non-null  object
 12  State                    10158 non-null  object
 13  PostCode                 10103 non-null  float64
 14  Zone                     0 non-null      float64
 15  Phone                    7286 non-null   object
 16  Qty Scheduled            10158 non-null  int64
 17  Qty Serviced             10158 non-null  int64
 18  Serv Type                10158 non-null  object
 19  Container Type           10158 non-null  object
 20  Bin Volume               10158 non-null  float64
 21  Status                   10158 non-null  object
 22  Truck number             10158 non-null  object
 23  Route number             10158 non-null  object
 24  Generate ID              9813 non-null   object
 25  Initial Entry Date       10158 non-null  object
 26  Weight                   10158 non-null  float64
 27  Prorated Weight          10158 non-null  float64
 28  Booking Reference 1      0 non-null      float64
 29  Booking Reference 2      0 non-null      float64
 30  Alternate Ref No 1       0 non-null      float64
 31  Alternate Ref No 2       0 non-null      float64
 32  Alternate Service Ref 1  15 non-null     float64
 33  Alternate Service Ref 2  0 non-null      float64
 34  Notes                    3687 non-null   object
 35  Directions               8969 non-null   object
 36  CheckLists               0 non-null      float64
 37  Waste Type               10158 non-null  object
 38  Tip Site                 0 non-null      float64
 39  Price                    10158 non-null  float64
 40  PO                       78 non-null     object
 41  weekday                  10158 non-null  object
dtypes: float64(18), int64(2), object(22)
memory usage: 3.3+ MB

In [22]:
tipping_df.info()
# tipping_df['Route No'] = tipping_df['Route No'].astype('str')
# tipping_df[['Route No', 'weekday']] = tipping_df['Route No'].str.split('-', 1, expand=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sequence No       926 non-null    int64
 1   Booking No        926 non-null    float64
 2   Customer Details  741 non-null    object
 3   Route No          926 non-null    object
 4   Truck No          926 non-null    object
 5   Route Date        926 non-null    object
 6   Disposal Date     926 non-null    object
 7   Tip Site          185 non-null    object
 8   Tip In Time       8 non-null      object
 9   Tip Out Time      185 non-null    object
 10  Cost Rate         926 non-null    float64
 11  Total Cost        926 non-null    float64
 12  Charge Rate       926 non-null    float64
 13  Total Charge      926 non-null    float64
 14  Waste Type        920 non-null    object
 15  Weight            926 non-null    float64
 16  UOM               926 non-null    object
 17  Docket No         183 non-null    object
 18  Gross Weight      926 non-null    float64
 19  Tare Weight       926 non-null    float64
 20  Branch            443 non-null    object
 21  weekday           926 non-null    object
dtypes: float64(8), int64(1), object(13)
memory usage: 159.3+ KB

In [11]:
TOTAL = 'total'
GENERAL_WASTE = ['HOOK1', 'BR1', 'BR2', 'BR3', 'FL2', 'FLG', 'RL1', 'RL2', 'RL4', 'RL7', 'RL9', 'RLD', 'RLE', 'RLH', 'RLI', 'RLJ', 'RLK', 'SWG', 'AUSSKIP']
CARDBOARD = ['GRIMA', 'APR', 'FLP', 'HYG', 'RED', 'RL5', 'RL6', 'RL8', 'RLP', 'RLR', 'SWP']
COMINGLED = ['CBK', 'RLC', 'RLG', 'DOY']
SUBCONTRACTED = ['SUB', 'JJT', 'ALLMED', 'BIN', 'CKG', 'CLN', 'GRACE', 'JJR', 'OWE', 'REM', 'REP', 'REQ', 'RRNW', 'RRR', 'SHR', 'SPD', 'SUE', 'URM', 'VEO', 'VEOACT', 'VTG']
UOS = ['NEPCB', 'UOSCB', 'UOSCO', 'UOSGW', 'CMDCB', 'CMDGW', 'CUMCB', 'CUMGW', 'NEPGW']
# 484320  .filter(items=['CBK', 'RLC', 'RLG', 'DOY'], axis=0)

In [54]:
series = booking_df.groupby('Route number').Price.sum()
asc = series.filter(SUBCONTRACTED).sum()
# asc.rename_axis("123")
# asc
# asc.index
# asc.values
asc

21566.270000000004

In [ ]:
11.5